@import url(./variables.css);

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
    background-image: url(../images/mantabowl.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0 0.2rem var(--smoky-black);
  color: #fff;
}

.container .separate {
  font-weight: 800;
  margin: 1rem 0;
}

.container a {
  color: #fff;
}

.container .back-button {
  background: #fff;
  color: var(--smoky-black);
  font-weight: 550;
  font-size: 0.8rem;
  letter-spacing: 1px;
  max-width: max-content;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.container .back-button:hover {
  box-shadow: 0 0 0.5rem var(--smoky-black);
}

@media (max-width: 590px) {
  .container {
    width: 20rem;
  }
}