nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #000;
    height: 15%;
    justify-content:space-between;
    align-items: center;
    padding: 0 50px;
  }
  
  .leftsection {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 350px;
  }
  
  
  nav h3 {
    margin-top: 5px;
    margin-left: 5px;
    color: #fff;
    text-shadow: 0.1px 0.1px 0.1px #000000;
    font-family: "Poppins", sans-serif;
  }
  
  .logo {
    width: 70px;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    width: 450px;
    justify-self: end;
  }
  
  .rightsection {
    position: relative;
    width: 73%;
  }
  
  nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 1.1em;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
  
    transition: all ease 0.5s;
  }
  
  nav ul li a:hover {
    border-bottom: 3px solid rgb(230, 230, 230);
    color: rgb(227, 227, 227);
  }

  @media (max-width: 900px) {
    nav {
      padding: 0 10px;
    }
  
    ul {
      width: 90%;
    }
  }
  
  @media (max-width: 745px) {
    .leftsection {
      width: 500px;
    }
  
    .leftsection h3 {
      margin-left: 0;
      font-size: 1.05rem;
    }
  
    .leftsection img {
      width: 60px;
    }
  
    .rightsection {
      position: unset;
      width: 80px;
    }
  
    nav li {
      display: flex;
    }
  
    nav li a {
      color: #fff;
      border: 1px solid #000;
      width: 100%;
      padding: 1.5rem 1rem;
      align-self: center;
      background: #000;
      text-align: center;
    }
  
    nav ul li a:hover {
      color: #000;
      background: #fff;
      border-bottom: 1px solid #fff;
    }
    
    nav ul {
      position: absolute;
      flex-direction: column;
      top: 70px;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: top ease 0.3s;
      pointer-events: none;
    }
  
    nav ul.active {
      top: 95px;
      opacity: 1;
      pointer-events: fill;
    }
  
    .three-dots {
      position: relative;
      height: 30px;
      width: 30px;
      justify-self: end;
      cursor: pointer;
    }
  
    .three-dots span {
      position: absolute;
      background: #fff;
      height: 4px;
      width: 100%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3px;
    }
  
    .three-dots span::before,
    .three-dots span::after{
      position: absolute;
      content: "";
      background: #fff;
      height: 4px;
      width: 100%;
      right: 0;
      border-radius: 3px;
    }
  
    .three-dots span::before{
      top: -10px;
    }
  
    .three-dots span::after{
      bottom: -10px;
    }
  }