@import url('./variables.css');
@font-face {
    font-family: 'Audiowide';
    src: url('./Audiowide-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('./Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./Poppins-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    height: max-content;
    gap: 2rem;
    padding-bottom: 0;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    background: #fff;
    justify-content: space-between;
    align-items: center;
}

.top .header img {
    width: 50px;
}

.top .header .search-bar-cont {
    box-shadow: 0 0.1rem 0.5rem rgb(190,190,190);
    padding: 0.8rem 0 0.8rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    width: 100%;
}

.top .header .search-bar-cont:hover {
    border: 1px solid #fff;
}

.top .header .search-bar-cont i {
    color: #000;
    font-size: 0.8rem;
}

.top .header .search-bar-cont input[type="search"] {
    border: transparent;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 0.8rem;
}

.middle-top {
    display: flex;
    padding: 0 1.5rem;
    height: 15rem;
}

.middle-top .img-cont {
    display: flex;
    box-shadow: 0 0 0.5rem rgb(190,190,190);
    width: 100%;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.middle-top .img-cont img {
    position: absolute;
    right: 30px;
    top: 7px;
    height: 140%;
}

.middle-top .img-cont .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-top .img-cont .titles h1 {
    font-family: 'Audiowide';
    font-size: 2.5rem;
    color: var(--smoky-black-a);
}

.middle-bottom {
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;
}

.middle-bottom h1 {
    font-family: 'PoppinsBold';
    color: var(--smoky-black);
}

.middle-bottom select {
    background: var(--smoky-black);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 1.3rem;
    padding: 0 0.5rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.middle-bottom select:hover{
    box-shadow: 0 0 0.5rem rgb(190,190,190);
}

.bottom .outer-cont {
    display: flex;    
    padding: 0.5rem 1.5rem;
    gap: 1rem;
    overflow-x: auto;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 1px;
    background-color: var(--smoky-black-a);
}

.bottom .outer-cont .inner-cont {
    display: flex;
    gap: 0.5rem;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 0.5rem rgb(190,190,190);
    width: 10rem;
    height: 13rem;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
    cursor: default;
    flex-shrink: 0;
}

.bottom .outer-cont .inner-cont:hover {
    box-shadow: 0 0 0.5rem rgb(100,100,100);
    background: #ff4500;
    color: #fff;
}

.bottom .outer-cont .inner-cont:hover a {
    color: #fff;
}

.bottom .outer-cont .inner-cont .img-cont {
    position: relative;
    overflow: hidden;
    height: 50%;
}

.bottom .outer-cont .inner-cont .img-cont img {
    width: 100%;
}

.bottom .outer-cont .inner-cont .bottom-cont {
    padding: 0 0.5rem;
}

.bottom .outer-cont .inner-cont .bottom-cont .title h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    font-family: 'PoppinsBold';
    font-size: 1rem;
    line-height: 1.4;
}

.bottom .outer-cont .inner-cont a {
    padding: 0.3rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: "Poppins";
    font-weight: normal;
    color: #ff5800;
    transition: all 0.15s ease-in-out;
}

.bottom .outer-cont .inner-cont a:hover {
    background: #000;
}


@media (max-width: 700px) {
    .middle-top .img-cont .titles h1{
        font-size: 2rem;
    }

    .middle-top .img-cont img {
        right: -20px;
    }

    .middle-top {
        height: 13rem;
    }
}

@media (max-width: 565px) {
    .middle-top .img-cont .titles h1{
        font-size: 1.5rem;
    }

    .middle-top .img-cont img {
        right: -20px;
    }

    .middle-top .img-cont {
        padding: 1rem;
    }

    .middle-top {
        height: 10rem;
    }
}

@media (max-width: 445px) {
    .middle-top .img-cont .titles h1{
        font-size: 1.3rem;
    }

    .middle-top .img-cont img {
        right: -20px;
    }

    .middle-top {
        height: 9rem;   
    }

    .middle-top .img-cont {
        padding: 1rem;
    }

    
    .middle-bottom h1 {
        font-size: 1.1rem;
    }

    .middle-bottom select {
        font-size: 0.6rem;
    }

    .bottom .outer-cont {
        flex-direction: column;
        align-items: center;
    }

    .bottom .outer-cont .inner-cont {
        width: 80%;
        height: 18rem;
    }

    .bottom .outer-cont .inner-cont .bottom-cont .title h1 {
        font-size: 1.5rem;
    }

    .bottom .outer-cont .inner-cont a {
        padding: 0.8rem;
        font-size: 1rem;
    }
}

@media (max-width: 370px) {
    .middle-top .img-cont .titles h1{
        font-size: 1rem;
    }

    .middle-top .img-cont img {
        right: -20px;

    }

    .middle-top {
        height: 8rem;
    }

    .middle-top .img-cont {
        padding: 1rem;
    }
}